<h1>Capstone Project</h1>

<h2>Stock Prediction Using Twitter Sentiment Analysis</h2>

In [2]:
'''
load the dataset DJIA dataset(June 2009 to December 2009)
'''

import os
import numpy as np
import pandas as pd
from IPython.display import display

data = open('HistoricalPrices.csv', 'rb')

df = pd.read_csv(data)
display(df.head(30))

        Date      Open      High       Low     Close
0   12/16/09  10449.81  10509.97  10427.59  10441.12
1   12/15/09  10499.31  10499.31  10426.69  10452.00
2   12/14/09  10471.28  10514.66  10471.28  10501.05
3   12/11/09  10403.41  10484.05  10400.08  10471.50
4   12/10/09  10336.00  10444.60  10335.77  10405.83
5   12/09/09  10282.85  10342.27  10235.63  10337.05
6   12/08/09  10385.42  10385.65  10249.84  10285.97
7   12/07/09  10386.86  10443.16  10360.18  10390.11
8   12/04/09  10368.57  10516.70  10311.81  10388.90
9   12/03/09  10455.63  10507.63  10350.05  10366.15
10  12/02/09  10470.44  10513.52  10421.47  10452.68
11  12/01/09  10343.82  10501.28  10343.44  10471.58
12  11/30/09  10309.77  10364.34  10263.29  10344.84
13  11/27/09  10452.23  10452.23  10231.25  10309.92
14  11/25/09  10432.96  10481.48  10420.94  10464.40
15  11/24/09  10451.25  10453.97  10359.58  10433.71
16  11/23/09  10320.13  10495.61  10320.05  10450.95
17  11/20/09  10327.91  10342.72  10271.68  10318.16
18  11/19/09  10425.33  10425.33  10256.11  10332.44
19  11/18/09  10426.27  10432.66  10360.10  10426.31
20  11/17/09  10404.77  10438.17  10361.99  10437.42
21  11/16/09  10267.53  10434.24  10267.45  10406.96
22  11/13/09  10197.85  10305.69  10192.03  10270.47
23  11/12/09  10289.82  10321.64  10171.24  10197.47
24  11/11/09  10247.42  10341.97  10246.14  10291.26
25  11/10/09  10223.01  10260.80  10197.69  10246.97
26  11/09/09  10020.62  10228.23  10020.62  10226.94
27  11/06/09  10001.35  10044.50   9936.81  10023.42
28  11/05/09   9807.80  10013.07   9807.80  10005.96
29  11/04/09   9767.30   9928.04   9767.14   9802.14

In [3]:
df.iloc[3]['Date']

'12/11/09'

In [11]:
'''
get all the tweets
'''

tweets = open('TaggedData.csv', 'rb')
thead = pd.read_csv(tweets, usecols=['Date', 'Name', 'Tweets', 'sentiment'])
display(thead.head(30))

,Date,Name,Tweets,sentiment
0,17 Jun 2009,Rodney Holston,is taking this day to relax and catch up on sl...,1
1,17 Jun 2009,Angie,went to chiro today very sore now but know i w...,0
2,17 Jun 2009,Jaxon Brooks,updated the iphone 2g to os 3 0 feels zippier ...,0
3,17 Jun 2009,K,i am sooo hyped for this weekend going to va f...,1
4,17 Jun 2009,Nicola Atkins,was feeling down earlier but two wonderful fri...,1
5,17 Jun 2009,Anonymous,mclifford973 chefdebbiecpc is absolutely corr...,1
6,17 Jun 2009,Joel Ivory Johnson,creating a reporting solution with excel feels...,1
7,17 Jun 2009,Stephanie S,rt shayminn please play the song and feel free...,0
8,17 Jun 2009,quicksilver,feeling the slump you can always swim the shar...,1
9,17 Jun 2009,Milt Fresh,a lot of local artists feel open mic nights ar...,0
10,17 Jun 2009,Daniel Castady,q101 went great airs tomorrow at 6 at gaslight...,1
11,17 Jun 2009,Kyung Wayne Lee,feels good to pull up home after a good days w...,1
12,17 Jun 2009,Juanita,i feel terrible i was not able to tweet today ...,0
13,17 Jun 2009,INGRID,rt kebers listening to ibtres i m feeling her ...,1
14,17 Jun 2009,krktcountry,dierks bentley feel that fire 04 59 pm visit w...,1
15,17 Jun 2009,DJ Borat,i won t be back in daytona for a while but fee...,0
16,17 Jun 2009,allpick,got my iphone 3 0 update working it temporaril...,0
17,17 Jun 2009,Rick C,i stay grateful for each day i m given but as ...,1
18,17 Jun 2009,robin chatmon,no matter what season we go through and how we...,0
19,17 Jun 2009,LaylaBeth,has been having a moment but is feeling better...,0
20,17 Jun 2009,Jan F,ks fans pls feel free to email your happenings...,1
21,17 Jun 2009,Kenya D.,however i do think there is an exception if bi...,0
22,17 Jun 2009,Caitlyn Becker,please baby please i just wanna feel you breathe,0
23,17 Jun 2009,Kayla,i feel sick maybe going back down to vbs for t...,0
24,17 Jun 2009,UhLissUhBETH,ran 4 miles in 45 mins and felt good tempo run...,0
25,17 Jun 2009,?Brandon Christoph�?,watch this video its crazy but cool at the sam...,1
26,17 Jun 2009,Mary & The Joel,read an actual newspaper today the kind with i...,1
27,17 Jun 2009,Melisa S,rocca di papa it s a sign meanwhile please tak...,0
28,17 Jun 2009,Denee Savoia,wonder how pat benatar feels about that jordin...,1
29,17 Jun 2009,Jo Anne Meekins,when we do what we are meant to do money comes...,0