<h1>Capstone Project</h1>

<h2>Stock Prediction Using Twitter Sentiment Analysis</h2>

In [8]:
'''
load the dataset DJIA dataset(June 2009 to December 2009)
'''

import os
import numpy as np
import pandas as pd
from IPython.display import display

data = open('HistoricalPrices.csv', 'rb')

df = pd.read_csv(data)
display(df.head(30))

        Date      Open      High       Low     Close
0   12/16/09  10449.81  10509.97  10427.59  10441.12
1   12/15/09  10499.31  10499.31  10426.69  10452.00
2   12/14/09  10471.28  10514.66  10471.28  10501.05
3   12/11/09  10403.41  10484.05  10400.08  10471.50
4   12/10/09  10336.00  10444.60  10335.77  10405.83
5   12/09/09  10282.85  10342.27  10235.63  10337.05
6   12/08/09  10385.42  10385.65  10249.84  10285.97
7   12/07/09  10386.86  10443.16  10360.18  10390.11
8   12/04/09  10368.57  10516.70  10311.81  10388.90
9   12/03/09  10455.63  10507.63  10350.05  10366.15
10  12/02/09  10470.44  10513.52  10421.47  10452.68
11  12/01/09  10343.82  10501.28  10343.44  10471.58
12  11/30/09  10309.77  10364.34  10263.29  10344.84
13  11/27/09  10452.23  10452.23  10231.25  10309.92
14  11/25/09  10432.96  10481.48  10420.94  10464.40
15  11/24/09  10451.25  10453.97  10359.58  10433.71
16  11/23/09  10320.13  10495.61  10320.05  10450.95
17  11/20/09  10327.91  10342.72  10271.68  10318.16
18  11/19/09  10425.33  10425.33  10256.11  10332.44
19  11/18/09  10426.27  10432.66  10360.10  10426.31
20  11/17/09  10404.77  10438.17  10361.99  10437.42
21  11/16/09  10267.53  10434.24  10267.45  10406.96
22  11/13/09  10197.85  10305.69  10192.03  10270.47
23  11/12/09  10289.82  10321.64  10171.24  10197.47
24  11/11/09  10247.42  10341.97  10246.14  10291.26
25  11/10/09  10223.01  10260.80  10197.69  10246.97
26  11/09/09  10020.62  10228.23  10020.62  10226.94
27  11/06/09  10001.35  10044.50   9936.81  10023.42
28  11/05/09   9807.80  10013.07   9807.80  10005.96
29  11/04/09   9767.30   9928.04   9767.14   9802.14

In [3]:
df.iloc[3]['Date']

'12/11/09'

In [5]:
'''
get all the tweets
'''

tweets = open('twitterData.csv', 'rb')

thead = pd.read_csv(tweets)
display(thead.head())

,Date,Name,Tweets
0,17 Jun 2009,Rodney Holston,is taking this day to relax and catch up on sl...
1,17 Jun 2009,Angie,"Went to chiro today...very sore now, but know ..."
2,17 Jun 2009,Jaxon Brooks,Updated the iPhone 2G to OS 3.0. Feels zippier...
3,17 Jun 2009,K,I am SOOO hyped for this weekend. Going to Va ...
4,17 Jun 2009,Nicola Atkins,Was feeling down earlier but two wonderful fri...