<h1>Capstone Project</h1>

<h2>Stock Prediction Using Twitter Sentiment Analysis</h2>

In [1]:
'''
load the dataset DJIA dataset(June 2009 to December 2009)
'''

import os
import numpy as np
import pandas as pd
from IPython.display import display

data = open('HistoricalPrices.csv', 'rb')

df = pd.read_csv(data)
display(df.head(5))

       Date      Open      High       Low     Close
0  12/16/09  10449.81  10509.97  10427.59  10441.12
1  12/15/09  10499.31  10499.31  10426.69  10452.00
2  12/14/09  10471.28  10514.66  10471.28  10501.05
3  12/13/09  10420.38  10491.70  10417.88  10478.89
4  12/12/09  10437.35  10499.35  10435.68  10486.27

In [2]:
df.iloc[3]['Date']

'12/13/09'

In [3]:
'''
get all the tweets
'''

tweets = open('TaggedData.csv', 'rb')
thead = pd.read_csv(tweets, usecols=['Date', 'Name', 'Tweets', 'sentiment'])
display(thead.head(5))

,Date,Name,Tweets,sentiment
0,17 Jun 2009,Rodney Holston,is taking this day to relax and catch up on sl...,1
1,17 Jun 2009,Angie,went to chiro today very sore now but know i w...,0
2,17 Jun 2009,Jaxon Brooks,updated the iphone 2g to os 3 0 feels zippier ...,0
3,17 Jun 2009,K,i am sooo hyped for this weekend going to va f...,1
4,17 Jun 2009,Nicola Atkins,was feeling down earlier but two wonderful fri...,1

In [23]:
from matplotlib import pyplot as plt
thead.drop('Name', axis=1)
thead.drop('Tweets', axis=1)
count = 0
for i in thead['sentiment']:
    try:
        i = int(i)
        count+=1
    except:
        print(count),
pos=0;neg=0
for i in range(25001, 27000):
    x = thead.loc[i].sentiment
    if x==1:
        pos+=1
    elif x == 0:
        neg+=1
print pos, neg
# thead.plot(style=['0', 'rx'])

731 1268