<h1>Capstone Project</h1>

<h2>Stock Prediction Using Twitter Sentiment Analysis</h2>

In [2]:
'''
load the dataset DJIA dataset(2012 to 2017)
'''

import os
import numpy as np
import pandas as pd
from IPython.display import display

data = open('DJIA.csv', 'rb')

df = pd.read_csv(data)
display(df[:10])

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-06-11,12553.809570,12650.469727,12398.480469,12411.230469,12411.230469,121060000
1,2012-06-12,12412.070313,12577.019531,12411.910156,12573.799805,12573.799805,111360000
2,2012-06-13,12566.379883,12598.250000,12453.690430,12496.379883,12496.379883,125780000
3,2012-06-14,12497.889648,12698.679688,12497.660156,12651.910156,12651.910156,128640000
4,2012-06-15,12652.209961,12774.700195,12651.379883,12767.169922,12767.169922,284290000
5,2012-06-18,12767.019531,12781.929688,12696.179688,12741.820313,12741.820313,111280000
6,2012-06-19,12744.620117,12898.940430,12744.469727,12837.330078,12837.330078,125180000
7,2012-06-20,12837.099609,12877.179688,12744.919922,12824.389648,12824.389648,119110000
8,2012-06-21,12823.099609,12857.389648,12561.459961,12573.570313,12573.570313,146750000
9,2012-06-22,12574.820313,12674.080078,12574.669922,12640.780273,12640.780273,209990000

In [23]:
'''
drop the columns that do not add meaning to learning
'''

df.drop(['Volume', 'Adj Close'], axis = 1, inplace=True)

display(df[:20])

          Date          Open          High           Low         Close
0   2012-06-11  12553.809570  12650.469727  12398.480469  12411.230469
1   2012-06-12  12412.070313  12577.019531  12411.910156  12573.799805
2   2012-06-13  12566.379883  12598.250000  12453.690430  12496.379883
3   2012-06-14  12497.889648  12698.679688  12497.660156  12651.910156
4   2012-06-15  12652.209961  12774.700195  12651.379883  12767.169922
5   2012-06-18  12767.019531  12781.929688  12696.179688  12741.820313
6   2012-06-19  12744.620117  12898.940430  12744.469727  12837.330078
7   2012-06-20  12837.099609  12877.179688  12744.919922  12824.389648
8   2012-06-21  12823.099609  12857.389648  12561.459961  12573.570313
9   2012-06-22  12574.820313  12674.080078  12574.669922  12640.780273
10  2012-06-25  12639.799805  12639.870117  12458.009766  12502.660156
11  2012-06-26  12503.570313  12576.410156  12452.030273  12534.669922
12  2012-06-27  12532.929688  12646.870117  12532.709961  12627.009766
13  2012-06-28  12626.250000  12626.250000  12450.169922  12602.259766
14  2012-06-29  12604.599609  12880.389648  12604.530273  12880.089844
15  2012-07-02  12879.709961  12902.120117  12795.480469  12871.389648
16  2012-07-03  12868.059570  12946.200195  12845.280273  12943.660156
17  2012-07-05  12941.849609  12961.299805  12852.240234  12896.669922
18  2012-07-06  12889.400391  12889.400391  12702.990234  12772.469727
19  2012-07-09  12772.019531  12772.019531  12686.570313  12736.290039

In [17]:
file = open('DJIA.csv')

TypeError: '_csv.reader' object has no attribute '__getitem__'