<h1>Capstone Project</h1>

<h2>Stock Prediction Using Twitter Sentiment Analysis</h2>

In [16]:
'''
load the dataset
'''

import os
import numpy as np
import pandas as pd
from IPython.display import display

data = open('dow_jones_index.data', 'rb')
headers = ['quarter', 'stock', 'date', 'open', 'high', 'low',\
           'close', 'volume', 'percent_change_price', 'percent_change_volume_over_last_wk',\
           'previous_weeks_volume', 'next_weeks_open', 'next_weeks_close',\
           'percent_change_next_weeks_price', 'days_to_next_dividend', 'percent_return_next_dividend']


df = pd.read_csv(data)
display(df[:10])

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,1/7/2011,$15.82,$16.72,$15.78,$16.42,239655616,3.792670,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
1,1,AA,1/14/2011,$16.71,$16.71,$15.64,$15.97,242963398,-4.428490,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2,1,AA,1/21/2011,$16.19,$16.38,$15.60,$15.79,138428495,-2.470660,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
3,1,AA,1/28/2011,$15.87,$16.63,$15.82,$16.13,151379173,1.638310,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
4,1,AA,2/4/2011,$16.18,$17.39,$16.18,$17.14,154387761,5.933250,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029
5,1,AA,2/11/2011,$17.33,$17.48,$16.97,$17.37,114691279,0.230814,-25.712195,154387761.0,$17.39,$17.28,-0.632547,90,0.172712
6,1,AA,2/18/2011,$17.39,$17.68,$17.28,$17.28,80023895,-0.632547,-30.226696,114691279.0,$16.98,$16.68,-1.766780,83,0.173611
7,1,AA,2/25/2011,$16.98,$17.15,$15.96,$16.68,132981863,-1.766780,66.177694,80023895.0,$16.81,$16.58,-1.368230,76,0.179856
8,1,AA,3/4/2011,$16.81,$16.94,$16.13,$16.58,109493077,-1.368230,-17.663150,132981863.0,$16.58,$16.03,-3.317250,69,0.180941
9,1,AA,3/11/2011,$16.58,$16.75,$15.42,$16.03,114332562,-3.317250,4.419900,109493077.0,$15.95,$16.11,1.003130,62,0.187149

In [17]:
'''
drop the columns that do not add meaning to learning
'''

df.drop(['percent_change_price', 'percent_change_volume_over_last_wk',\
         'days_to_next_dividend', 'percent_return_next_dividend'],
       axis = 1, inplace=True)

display(df[:10])

,quarter,stock,date,open,high,low,close,volume,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price
0,1,AA,1/7/2011,$15.82,$16.72,$15.78,$16.42,239655616,NaN,$16.71,$15.97,-4.428490
1,1,AA,1/14/2011,$16.71,$16.71,$15.64,$15.97,242963398,239655616.0,$16.19,$15.79,-2.470660
2,1,AA,1/21/2011,$16.19,$16.38,$15.60,$15.79,138428495,242963398.0,$15.87,$16.13,1.638310
3,1,AA,1/28/2011,$15.87,$16.63,$15.82,$16.13,151379173,138428495.0,$16.18,$17.14,5.933250
4,1,AA,2/4/2011,$16.18,$17.39,$16.18,$17.14,154387761,151379173.0,$17.33,$17.37,0.230814
5,1,AA,2/11/2011,$17.33,$17.48,$16.97,$17.37,114691279,154387761.0,$17.39,$17.28,-0.632547
6,1,AA,2/18/2011,$17.39,$17.68,$17.28,$17.28,80023895,114691279.0,$16.98,$16.68,-1.766780
7,1,AA,2/25/2011,$16.98,$17.15,$15.96,$16.68,132981863,80023895.0,$16.81,$16.58,-1.368230
8,1,AA,3/4/2011,$16.81,$16.94,$16.13,$16.58,109493077,132981863.0,$16.58,$16.03,-3.317250
9,1,AA,3/11/2011,$16.58,$16.75,$15.42,$16.03,114332562,109493077.0,$15.95,$16.11,1.003130